{{ define "main" }}
<main class="container mx-auto">
  <h2 class="mt-8 text-3xl font-bold">{{ .Site.Params.greet }}</h2>
  <p class="mt-0 mb-0">{{ .Site.Author.status }}</p>
  <p class="mt-3 mb-3 home-intro">{{ .Site.Author.description | markdownify | safeHTML }}</p>
  <!-- {{ if eq .Paginator.PageNumber 1 }}
  <h3 class="mt-6 mb-4 text-2xl font-bold">{{ T "recent" }}</h3>
  {{ else }}
  <h3 class="mt-6 mb-4 text-2xl font-bold">{{ T "older" }}</h3>
  {{ end }} -->
  <div>
    <h3 class="mt-8 text-3xl font-bold">Who am I</h3>
    <div class="mt-3 mb-3 home-intro">
    <p>I'm Nicola, a young enthusiast with a hunger for knowledge and a constant desire to push my limits. Born and raised in Italy, I've delved into the pages of contemporary history, nurturing an insatiable curiosity along the way.</p>
    </br>
     <p> My academic journey led me to a high school diploma in environmental chemistry and a university degree in contemporary history. But I didn't stop there! I pursued a master's program in data analytics, where I discovered the incredible power of statistics in various fields. Although I eventually left the program due to it not meeting my expectations in terms of analytics.</p>
  </br >
      
     <p> Fueling my passion for technology, I strive to bridge the gap between my other interests and this fascinating world. I am confident that the future holds exciting surprises.
      
      If you'd like to learn more about me and my journey, explore my personal website, or my <a href="https://ncasa.it/cv.html">CV!</a></p>
  </div>
  </div>
  <div>
    {{ $paginator := .Paginate (where .Site.RegularPages "Kind" "page") }}
    {{ range $paginator.Pages }}
    {{ partial "item.html" . }}
    {{ end }}
    {{ partial "paginator.html" . }}
  </div>
  {{ if .Site.Params.friends.feeds }}
  <h3 class="mt-6 mb-6 text-2xl font-semibold">{{ .Site.Params.friends.title }}</h3>
  <div id="friends"></div>
  {{ end }}
</main>
{{ end }}